{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindAttributes": ["myClassList"]
}
