#backdrop {
  opacity: 0;
}

#word {
  top: 0rem;
  opacity: 0;
  font-weight: 900;
  @apply font-code;
  position: absolute;
  left: 50%;
  z-index: 20;
  transition: translate(-50%);
  text-transform: uppercase;
}

#transmition:hover > #backdrop {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
#transmition:hover > #word {
  top: 20rem;
  opacity: 1;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 0rem;
  }
  to {
    opacity: 1;
    top: 20rem;
  }
}
