@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --beige: #ddb067;
  --forest: #6f9d41;
}

html {
  font-size: 62.5%;
}
body {
  @apply font-degular;
  box-sizing: border-box;
}

h1 {
  @apply font-code;
  font-size: 9.6rem;
  line-height: 11.5rem;
  font-weight: 900;
}

h2 {
  @apply font-code;
  font-size: 6.4rem;
  line-height: 6.5rem;
  font-weight: 700;
}
h3 {
  @apply font-code;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 900;
  text-transform: uppercase;
}
h4 {
  @apply font-poppins;
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: 600;
}

h5 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.4rem;
}

p {
  @apply font-poppins;
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: 400;
}

button {
  @apply font-code;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.6rem;
  text-align: center;
}
